
/* reset css */
html, body, p, h1, h2, h3, h4, h5, h6,
ul, li, ol, dl, dd, dt,
form, fieldset, legend, img {
    margin  : 0;
    padding : 0;
}
section, article, nav, header, footer { display : block; }
address, caption, cite, code, dfn, th, var,i,em {
    font-style  : normal;
    font-weight : normal;
}
table,tr,td{
  padding: 0;
}
em, i { font-weight : normal; }
table         { border-collapse : collapse;  border-spacing: 0;}
fieldset, img { border : none; }
ul, ol        { list-style : none; }
select, input { vertical-align : middle; outline : none; }
h1, h2, h3, h4, h5, strong, em { font-weight : normal; }
h1,h2{font-size: 1.5em;}
h3{font-size: 1.17em;}
h4,h5,h6{font-size: 1em;}
select, input, textarea {
    font-size   : 100%;
    margin      : 0;
    padding     : 0;
    outline     : none;
    font-family : arial, sans-serif;
}
textarea {
    resize   : none;
    overflow : auto;
    word-break : break-all;
    word-wrap  : break-word;
}
body {
    color : #000;
    font: 14px/20px Helvetica,STHeiti, microsoft yahei,arial,simsun,sans-serif;
}
body,html{
    overflow:hidden;
}
a {text-decoration: none;}
img,a,div,span{
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* game-wrap css */
.game-wrap{position: relative;width: 690px;height: 370px;overflow: hidden;}
    .game-bg{position: absolute;top:0;left:0;width: 100%;height: 100%;z-index: -1;background: white;opacity: 0.5;}
    .game-btn{position: absolute;width: 200px;height: 50px;background:#ff7311; color:white; left:50%;margin-left: -90px;top:90px; line-height: 50px;font-size: 16px;}
    .game-btn span{vertical-align: middle; border-left:14px solid white;border-top:15px solid #ff7311;border-bottom:15px solid #ff7311;font-size: 0px;line-height: 0;margin-left: 33px;margin-right: 30px;z-index: 1;}
    .game-w{position: absolute;bottom:0;left:0;z-index: 1;width: 100%;overflow: hidden;font-size: 0;line-height: 0;}
    .game-ball{position: absolute;left:243px; top: 250px;z-index: 2;}

    .game-g1,.game-g2,.game-g3,.game-g4,.game-dir,.game-tar1,.game-tar2,.game-tar3{position: absolute;}
    .game-g2{left: -100px;top:150px;}
    .game-g3{top: 163px;left:777px;}
    .game-g4{top: 161px;left: 777px;}
    .game-dir{top: 190px;left: 225px;z-index: 1; display: none; }

    .game-tar1,.game-tar2,.game-tar3{display: none; top: 45px;width: 108px; height: 108px;background: url(../img/sun.png); font-size: 30px;color:white;text-transform: uppercase;line-height: 108px;text-align: center;}
    .game-tar1{left: 106px;}
    .game-tar2{left: 306px;}
    .game-tar3{left: 506px;}

    .game-tip{display:none;position: absolute;color: #ff7311;font-size: 16px;font-family: microsoft yahei;top: 20px;left: 258px;}

    





